body {
	background-color: olive;
}

a {
	color: red;
}

/*p {
	color: orange;
	font-size: 25px;
}*/

div {
	color: tomato;
}

.maxim {
	color: red;
}

#highlight {
	color: yellow;
	background-color: rgb(0, 162, 255);
}


/*iframe { 
	width: 500px;  It should not be 100% 
	height: 500px: 
	margin-left: auto;    Automatic margin from left  
	margin-right: auto;  Automatic margin from right  
}*/